*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color:#fde4fc;
}


#titulo{
  color:#242424;
  width:20%;
  margin-left:40%;
  margin-right:40%;
  background-color:#fff;
  border:1px solid #242424;
  border-radius:3px;
  font-size:30px;
  font-family:Arial;
  font-weight:bold;
  text-align:center;
  margin-top:5%;
}

input{
  margin-bottom:5%;
  width:80%;
  margin-left:10%;
  margin-right:10%;
}

#ttext{
  color:#242424;
  margin-top:5%;
  margin-left:10%;
  font-family:Arial;
  font-weight:bold;
}

#nomeesal{
  margin-top:50px;
  width:20%;
  margin-left:40%;
  margin-right:40%;
  background-color:#fff;
  border:1px solid #242424;
  border-radius:3px;
}

#botao{
  margin-bottom:5%;
  width:20%;
  margin-right:40%;
  margin-left:40%;
}

table{
  width:50%;
  margin-top:1%;
  margin-left:25%;
  margin-right:25%;
  background-color:#fff;
}

th{
  border:1px solid #242424;
  text-align: center;
  font-size:100%;
  color:#242424;

}

td{
  text-align: center;
  border:1px solid #242424;
  color:#242424;
  font-size: 100%;
}
